<title>GAMELINKS</title>

<h1>About</h1>
<h2>「人と人を繋ぐゲームデザイン」をモットーに<br>日々ゲーム制作に力を入れているゲームデザインサークルです。<br><br>
​
<h1>Product</h1>

<h2>
<% @products.each do |product| %>
    <p><%= link_to "#{product.name}", "#{product.link}" %></p>
    <p><%= product.about %></p>
<% end %>
</h2>

<hr>

<h1>Team</h1>
<h2>
    <% @members.each do |member| %>
        <p><l>名前：<%= member.name %></l></p>
        <p><l>主な担当</l><p>
        <p><%= member.position %></p>
        <p><l>作品</l><p>
        <p><%= member.product %></p>
        <br>  
    <% end %>
</h2>