<title>GAMELINKS</title>

<%= image_tag 'hanakotoba1.png'%>
<%= image_tag 'hanakotoba2.png'%>
<%= image_tag 'igv1.png'%>
<%= image_tag 'igv2.png'%>
<%= image_tag 'bml1.png'%>
<%= image_tag 'bml2.png'%>
<%= image_tag 've1.png'%>
<%= image_tag 've2.png'%>
<%= image_tag 'moa1.png'%>
<%= image_tag 'moa2.png'%>
<%= image_tag 'vendetta1.png'%>
<%= image_tag 'vendetta2.png'%>