<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   "/gamelinks/about" %></li>
        <li><%= link_to "Game",   "/gamelinks/game" %></li>
        <li><%= link_to "BrowserGame",   "/gamelinks/browsergame" %></li>
        <li><%= link_to "LINKS Reference",   "/gamelinks/linksreference" %></li>
        <li><%= link_to "Blog",   "/gamelinks/blog" %></li>
        <li><%= link_to "Link",   "/gamelinks/link" %></li>
    </ul>
  </nav>
</footer>