<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "GAMELINKS", root_path, :class => "navbar-brand" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to 'About', gamelinks_about_path %></li>
            <li><%= link_to "Game", gamelinks_game_path %></li>
            <li><%= link_to "BrowserGame", gamelinks_browsergame_path %></li>
            <li><%= link_to "LINKS Reference", "https://github.com/S-H-GAMELINKS/Novel.Game.Engine.LINKS/wiki" %></li>
            <li><%= link_to "Blog", "http://gamelinks007.hatenablog.com/" %></li>
            <li><%= link_to "Link", gamelinks_link_path %></li>
            <li><%= link_to "Contact", gamelinks_contact_path %></li>
          </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SNS <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Twitter",   "https://twitter.com/game_links_" %></li>
          <li><%= link_to "FaceBook",   "https://ja-jp.facebook.com/Lateral.thinking.of.Withered.technology/" %></li>
          <li><%= link_to "Mastodon",   "https://gamelinks007.net" %></li>
          <li><%= link_to "GitHub",   "https://github.com/S-H-GAMELINKS" %></li>
          <li><%= link_to "Freem",   "https://www.freem.ne.jp/brand/7708" %></li>
          <li><%= link_to "FreeGameMugen",   "https://freegame-mugen.jp/cms/mt-cp.fcgi?__mode=view&blog_id=1&id=3929" %></li>
        </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>
</header>