<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GAMELINKS", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to 'About', gamelinks_about_path %></li>
      <li><%= link_to "Game", gamelinks_game_path %></li>
      <li><%= link_to "BrowserGame", gamelinks_browsergame_path %></li>
      <li><%= link_to "LINKS Reference", "https://github.com/S-H-GAMELINKS/Novel.Game.Engine.LINKS/wiki" %></li>
      <li><%= link_to "Blog", "http://gamelinks007.hatenablog.com/" %></li>
      <li><%= link_to "Link", gamelinks_link_path %></li>
      <li><%= link_to "Contact", gamelinks_contact_path %></li>
      </ul>
    </nav>
  </div>
</header>